﻿<div class="modal-content cmodal">
    <div class="modal-header">
        <span class="modal-title">
            <span>{{Form.Title}}</span>
        </span>
    </div>
    <div class="modal-body">
        <textarea ng-model="Workflow.Comment" ng-if="Form.Type=='workflow-confirm'" class="form-control" rows="3" placeholder="Nhập ý kiến xử lý..."></textarea>
        <table ng-if="Form.Type=='view-history'" class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer">
            <thead>
                <tr class="grid-header">
                    <th style="width:10%">Thời gian</th>
                    <th style="width:20%">Tác nhân</th>
                    <th style="width:20%">Hành động</th>
                    <th>Nội dung</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="his in Workflow.TransitionHistory">
                    <td>
                        {{his.TransitionTime | date:'HH:mm:ss dd/MM/yyyy'}}
                    </td>
                    <td>{{his.AuthorName}}</td>
                    <td><span class="btn-sm {{his.CommandButton.ButtonClass}}"><i class="{{his.CommandButton.IconClass}}"></i>&nbsp;{{his.CommandButton.CommandName}}</span></td>
                    <td>{{his.Comment}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" ng-click="Button.Confirm.Click()" ng-if="Form.Type=='workflow-confirm'"><i class="fa fa-thumbs-up"></i> Xác nhận</button>
        <button type="button" class="btn btn-sm btn-warning" ng-click="Button.Close.Click()"><i class="fa fa-ban"></i> Đóng</button>
    </div>
</div>



