﻿<form name="user_form" class="form-horizontal" ng-submit="btnSave()">
    <div class="modal-content cmodal">
        <div class="modal-header">
            <span class="modal-title">
                <span>{{Form.Title}}</span>
            </span>
        </div>
        <div class="modal-body">
            <div class="row">
                <label class="control-label col-md-4">Mật khẩu mới<span class="required">(*)</span></label>
                <div class="col-md-8">
                    <input type="password" name="passwordnew" autocomplete="off" ng-model="PasswordNew" placeholder="Nhập vào mật khẩu mới" class="input-sm form-control" />
                </div>
                <div class="has-error" ng-show="userprofile_form.PassWord.$dirty && folder_form.PassWord.$invalid">
                    <small class="has-error" ng-show="user_form.PassWord.$error.required">
                        Bạn cần nhập mật khẩu
                    </small>
                    <small class="has-error" ng-show="user_form.PassWord.$error.maxlength">
                        Bạn đã nhập quá 255 ký tự
                    </small>
                    <small class="has-error" ng-show="user_form.PassWord.$error.pattern">
                        Mật khẩu không thể có ký tự đặc biệt
                    </small>
                </div>
            </div>
            <div class="clearfix"></div> 
            <div class="clearfix"></div><br />
            <div class="row">
                <label class="control-label col-md-4">Xác nhận <span class="required">(*)</span></label>
                <div class="col-md-8">
                    <input type="password" name="confirm_password" autocomplete="off" placeholder="Nhập lại mật khẩu mới" class="input-sm form-control" required data-password-verify="PasswordNew" ng-model='ConfirmedPassword' />
                    <div class="has-error" ng-show="user_form.confirm_password.$dirty && user_form.confirm_password.$invalid">
                        <small class="has-error" ng-show="user_form.confirm_password.$error.required">Bạn cần nhập lại mật khẩu</small>
                        <small class="has-error" ng-show="user_form.confirm_password.$error.passwordVerify">Hai mật khẩu bạn nhập không giống nhau</small>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div><br />
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Lưu</button>
            <button type="button" class="btn btn-sm btn-warning" ng-click="cancel()"><i class="fa fa-ban"></i> Đóng</button>
        </div>
    </div>
</form>
