﻿<style>
    .avartarbox{
        text-align: center;
        position: relative;
        height: 250px;
        width: 250px;
        background: #bfbfbf;
        margin-top: 0.5em;
        margin: auto;
    }
    .avartarbox>.tool{
        visibility: hidden;
        position: absolute;
        top: 50%;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: center;
    }
    .avartarbox:hover>.tool{
        visibility: visible;
    }
</style>
<form name="form">
    <div class="modal-content cmodal">
        <div class="modal-header">
            <a href="javascript:;" ng-click="Button.Close.Click()" class="modal-close" aria-hidden="true">
                <i class="fa fa-close"></i>
            </a>
            <span class="modal-title">
                <span>{{Form.Title}}</span>
            </span>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <div class="form-group form-group-sm">
                        <label class="control-label">Tài khoản
                            <span class="required">(*)</span>
                        </label>
                        <div class="">
                            <div class="" ng-class="Form.Type==0?'input-group':''">

                                <input type="text" ng-focus="true" name="userName" ng-model="Form.Item.userName"
                                    ng-change="Availability=0" ng-disabled="Form.Type==1" required placeholder="Nhập vào tài khoản"
                                    class="form-control" />
                                <span class="input-group-addon" ng-if="Form.Type==0" ng-click="CheckNameAvailability()">
                                    <i class="fa fa-question font-blue" ng-if="Availability == 0&&Form.Type==0" title="Kiểm tra"></i>
                                    <i class="fa fa-check font-green" ng-if="Availability == 1&&Form.Type==0" title="Phù hợp"></i>
                                    <i class="fa fa-exclamation font-red" ng-if="Availability == -1&&Form.Type==0"
                                        title="Không phù hợp"></i>
                                </span>
                                <div ng-show="form.userName.$dirty ||form.$submitted">
                                    <small class="has-error" ng-show="form.userName.$error.required">
                                        Bạn cần nhập tài khoản
                                    </small>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="clearfix" ng-if="Form.Type==0"></div>
                    <div class="form-group form-group-sm" ng-if="Form.Type==0">
                        <label class="control-label">Mật khẩu
                            <span class="required">(*)</span>
                        </label>
                        <div class="">
                            <input type="password" ng-disabled="Form.Type==1" ng-focus="true" name="Form.Item.password" ng-model="Form.Item.password"
                                required placeholder="Nhập vào mật khẩu" class="form-control" />
                            <div ng-show="form.password.$dirty ||form.$submitted">
                                <small class="has-error" ng-show="form.password.$error.required">
                                    Bạn cần nhập mật khẩu
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group form-group-sm">
                        <label class="control-label">Tên
                            <span class="required">(*)</span>
                        </label>
                        <div class="">
                            <input type="text" ng-focus="true" name="name" ng-model="Form.Item.name" required
                                ng-maxlength="255" placeholder="Nhập vào tên người dùng" class="form-control" />
                            <div ng-show="form.name.$dirty ||form.$submitted">
                                <small class="has-error" ng-show="form.name.$error.required">
                                    Bạn cần nhập tên người dùng
                                </small>
                                <small class="has-error" ng-show="form.name.$error.maxlength">
                                    Bạn đã nhập quá 255 ký tự
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="form-group form-group-sm">
                        <label class="control-label">Số điện thoại
                        </label>
                        <div class="">
                            <input type="text" name="phoneNumber" ng-model="Form.Item.phoneNumber" placeholder="Nhập vào số điện thoại"
                                class=" form-control" />
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group form-group-sm">
                        <label class="control-label">Địa chỉ email
                        </label>
                        <div class="">
                            <input type="text" name="email" ng-model="Form.Item.email" placeholder="Nhập vào địa chỉ email"
                                class=" form-control" />
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group form-group-sm">
                        <label class="control-label">Ngày sinh
                        </label>
                        <div class="">
                            <input type="date" name="birthDate" ng-model="Form.Item.birthDate" placeholder="Nhập vào ngày sinh"
                                class=" form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="clearfix"></div>
                    <label class="control-label"> </label>
                    <div class="avartarbox">
                        <img alt="" ng-hide="file" class=" img-responsive" src="{{ValidateResourceUrl(Form.Item.avatarUrl)}}">
                        <img-crop ng-show="file" image="file | ngfDataUrl" area-type="square" aspect-ratio="1/1"
                            result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
                        </img-crop>

                    </div>
                    <div class="tool text-center margin-top-5">
                        <button ng-hide="file" ngf-max-size="{{Config.maxSize}}" ngf-multiple="{{Config.multiple}}"
                            ngf-select  ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" class="btn btn-sm btn-success">
                            <i ng-hide="Progress>0" class="fa fa-upload"></i>
                            <span ng-show="Progress>0">
                                <span>{{Progress}}%</span>
                            </span>
                            <span ng-hide="Progress>0">
                                <span>Tải lên</span>
                            </span>
                        </button>
                        <button ng-show="file" class="btn btn-sm btn-success" ng-click="UploadAttacment(croppedDataUrl, file.name)">
                            <i class="fa fa-check" aria-hidden="true"></i>&nbsp;Xong
                        </button>
                        &nbsp;
                        <button ng-show="file" class="btn btn-sm btn-warning" ng-click="file=null">
                            <i class="fa fa-ban" aria-hidden="true"></i>&nbsp;Hủy
                        </button>
                        <button ng-hide="file" class="btn btn-sm btn-success" ng-click="OpenInputAvatarUrl()">
                            <i class="fa fa-link" aria-hidden="true"></i>&nbsp;Điền link
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="control-label  col-md-12">Phân quyền nhóm người dùng</label>
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon sm" ng-click="Search()"><i class="fa fa-search"></i></span>
                        <input type="text" ng-model="filterText" class="col-md-12 input-sm form-control" placeholder="Tìm kiếm"
                            ng-pattern="word" ng-trim="true">
                    </div>
                </div>
                <div class="col-md-12" style="margin-top:10px">
                    <div ng-if="ListRoles.length!==0">
                        <a style="text-decoration:none" ng-click="SelectAllRole()" class="font-12">{{CheckAllRole?'Bỏ
                            tất cả':'Chọn tất cả'}}</a>
                    </div>
                </div>
                <div class="col-md-12 content-view role-list">
                    <div class="checkbox-list">
                        <label ng-repeat="role in ListRoles | filter:filterText">
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="checkboxes" ng-click="SelectRole()" ng-model="role.checked">
                                <span></span>
                                {{role.name}}
                            </label>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-primary" ng-click="Save()">
                <i class="fa fa-save"></i> Lưu</button>
            <button type="button" class="btn btn-sm btn-warning" ng-click="Button.Close.Click()">
                <i class="fa fa-ban"></i> Đóng</button>
        </div>
    </div>
</form>