/* here you can put your own css to customize and override the theme */
/*Author: DuongPD 
 Override*/
 .portlet {
    margin-bottom: 0;
}

.portlet.light {
    padding-bottom: 0;
}

.logo-default {
    width: auto;
    height: 45px;
    margin: 3px 0 0 0px !important;
}
.page-logo .big-title{
    color:white;
    margin: -37px 0 0 47px !important;
    width:  auto;
    font-size: 35px;
    font-family:  monospace;
    position:  relative;
}
.page-logo .big-title>.version{
    color: #d64635;
    width:  auto;
    font-size: 13px;
    font-family:  monospace;
    position:  absolute;
    top: 2px;
    right: -36px;
    padding: 1px 2px;
    vertical-align: super;
    border-radius: 30px!important;
    /* background: #ffffff; */
}

.has-error {
    color: #e73d4a !important;
    position: absolute;
    font-size: 11px;
}

.page-content {
    padding: 0 !important;
}

.page-title {
    margin: 10px 0 !important;
    font-weight: unset !important;
}

.page-footer-inner {
    text-align: center;
}

.modal-header {
    padding: 10px !important;
}

.portlet .portlet-title {
    margin-bottom: unset !important;
}

.portlet .portlet-title .actions {
    display: inline-block !important;
    padding: 4px 5px !important;
}

.portlet.light>.portlet-title>.caption {
    color: #333 !important;
}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    color: #337ab7;
}

.sub-menu>li>a {
    font-size: 13px !important;
}

.btn-group>.dropdown-menu, .dropdown-toggle>.dropdown-menu, .dropdown>.dropdown-menu {
    margin-top: unset !important;
}

/*Override angular loading bar lib*/
#loading-bar {
    pointer-events: all;
    z-index: 99999;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
}

#loading-bar-spinner {
    width: 100%;
    display: block;
    text-align: center;
    z-index: 999999 !important;
    text-align: center !important;
    color: #ffffff !important;
}

 

/*Author: DuongPD
 Custom Modal*/
.cmodal .modal-header {
    background-color: #2f353b !important;
    color: white !important;
    position: relative;
}

.cmodal .modal-title {
    font-size: 15px !important;
    text-transform: uppercase !important;
    font-weight: 700 !important;
}

/*hoant*/
/* MODAL */
.cmodal {
    position: relative;
}

.cmodal .modal-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    padding: 10px;
    color: #fff;
}

.modal-800 .modal-lg {
    width: 800px;
}

.modal-870 .modal-lg {
    width: 870px;
}

.modal-1000 .modal-lg {
    width: 1100px;
}

.modal-1100 .modal-lg {
    width: 1100px;
}

.modal-1200 .modal-lg {
    width: 1200px;
}

.modal-1300 .modal-lg {
    width: 1300px;
}

.modal-full .modal-lg {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

fieldset {
    padding: .35em .625em .75em !important;
    /* margin: 0 unset!important; */
    border: 1px solid #c0c0c0 !important;
}

legend {
    display: block;
    padding: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: inherit;
    color: #0070C0;
    width: auto;
    border-bottom: 0px;
    font-weight: 700;
}

body {
    font-family: "Roboto", sans-serif;
}

/*Author: DuongPD
 Custom Grid*/
.grid-header {
    background-color: #ebeef2;
}

/*Author: DuongPD*/
.resize-none {
    resize: none !important
}

.text-through {
    text-decoration: line-through;
}

/*Author: HoaNT
 Custom margin, padding*/
.margin-none {
    margin: unset !important;
}

.padding-none {
    padding: unset !important;
}

.padding-left-none {
    padding-left: unset !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.padding-left-10 {
    padding-left: 10px !important;
}

.padding-left-15 {
    padding-left: 15px !important;
}

.padding-left-20 {
    padding-left: 20px !important;
}

.padding-left-25 {
    padding-left: 25px !important;
}

.padding-left-30 {
    padding-left: 30px !important;
}

.padding-right-none {
    padding-right: unset !important;
}

.padding-right-5 {
    padding-right: 5px !important;
}

.padding-right-10 {
    padding-right: 10px !important;
}

.padding-right-15 {
    padding-right: 15px !important;
}

.padding-right-20 {
    padding-right: 20px !important;
}

.padding-right-25 {
    padding-right: 25px !important;
}

.padding-right-30 {
    padding-right: 30px !important;
}

.padding-top-none {
    padding-top: unset !important;
}

.padding-top-5 {
    padding-top: 5px !important;
}

.padding-top-10 {
    padding-top: 10px !important;
}

.padding-top-15 {
    padding-top: 15px !important;
}

.padding-top-20 {
    padding-top: 20px !important;
}

.padding-top-25 {
    padding-top: 25px !important;
}

.padding-top-30 {
    padding-top: 30px !important;
}

.padding-bottom-none {
    padding-bottom: unset !important;
}

.padding-bottom-5 {
    padding-bottom: 5px !important;
}

.padding-bottom-10 {
    padding-bottom: 10px !important;
}

.padding-bottom-15 {
    padding-bottom: 15px !important;
}

.padding-bottom-20 {
    padding-bottom: 20px !important;
}

.padding-bottom-25 {
    padding-bottom: 25px !important;
}

.padding-bottom-30 {
    padding-bottom: 30px !important;
}

.margin-right-none {
    margin-right: unset !important;
}

.margin-right-5 {
    margin-right: 5px !important;
}

.margin-right-10 {
    margin-right: 10px !important;
}

.margin-right-15 {
    margin-right: 15px !important;
}

.margin-right-20 {
    margin-right: 20px !important;
}

.margin-right-25 {
    margin-right: 25px !important;
}

.margin-right-30 {
    margin-right: 30px !important;
}

.margin-left-none {
    margin-left: unset !important;
}

.margin-left-5 {
    margin-left: 5px !important;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.margin-left-15 {
    margin-left: 15px !important;
}

.margin-left-20 {
    margin-left: 20px !important;
}

.margin-left-25 {
    margin-left: 25px !important;
}

.margin-left-30 {
    margin-left: 30px !important;
}

.margin-top-none {
    margin-top: unset !important;
}

.margin-top-5 {
    margin-top: 5px !important;
}

.margin-top-5percent {
    margin-top: 5% !important;
}

.margin-top-3percent {
    margin-top: 3% !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-25 {
    margin-top: 25px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-bottom-none {
    margin-bottom: unset !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-25 {
    margin-bottom: 25px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

/*Sonpn*/
.label-title {
    font-weight: 600;
    font-size: 12px;
}

.vertical-middle {
    vertical-align: middle !important;
}

.font-25 {
    font-size: 25px !important;
}

.font-20 {
    font-size: 20px !important;
}

.font-15 {
    font-size: 15px !important;
}

.font-13 {
    font-size: 13px !important;
}

.font-12 {
    font-size: 12px !important;
}

.font-11 {
    font-size: 11px !important;
}

.font-10 {
    font-size: 10px !important;
}

.font-9 {
    font-size: 9px !important;
}

/*Author: DuongPD 
 Height*/
.height-50-vh {
    height: 50vh !important;
}

.height-55-vh {
    height: 55vh !important;
}

.height-60-vh {
    height: 60vh !important;
}

.height-65-vh {
    height: 65vh !important;
}

.height-70-vh {
    height: 70vh !important;
}

.height-75-vh {
    height: 75vh !important;
}

.height-80-vh {
    height: 80vh !important;
}

.modal-xl {
    width: 90%;
}

/*SONPN Profile css*/
.profile-sidebar {
    float: left;
    width: 300px;
    margin-right: 20px
}

.profile-content {
    overflow: hidden
}

.profile-sidebar-portlet {
    padding: 30px 0 0 !important
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 7px
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 13px;
    font-weight: 800;
    margin-bottom: 7px
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px
}

.profile-userbuttons .btn {
    margin-right: 5px
}

.profile-userbuttons .btn:last-child {
    margin-right: 0
}

.profile-userbuttons button {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px
}

.profile-usermenu {
    margin-top: 30px;
    padding-bottom: 20px
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7
}

.profile-usermenu ul li:last-child {
    border-bottom: none
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 16px;
    font-weight: 400
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 16px
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px
}

.profile-stat {
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f4f7
}

.profile-stat-title {
    color: #7f90a4;
    font-size: 25px;
    text-align: center
}

.profile-stat-text {
    color: #5b9bd1;
    font-size: 11px;
    font-weight: 800;
    text-align: center
}

.profile-desc-title {
    color: #7f90a4;
    font-size: 17px;
    font-weight: 600
}

.profile-desc-text {
    color: #7e8c9e;
    font-size: 14px
}

.profile-desc-link i {
    width: 22px;
    font-size: 19px;
    color: #abb6c4;
    margin-right: 5px
}

.profile-desc-link a {
    font-size: 14px;
    font-weight: 600;
    color: #5b9bd1
}

@media (max-width: 991px) {
    .profile-sidebar {
        float: none;
        width: 100% !important;
        margin: 0
    }

    .profile-sidebar>.portlet {
        margin-bottom: 20px
    }

    .profile-content {
        overflow: visible
    }
}

.profile, .profile-classic .profile-image {
    position: relative
}

.add-portfolio, .portfolio-block, .portfolio-stat, .portfolio-text, .portfolio-text .portfolio-text-info {
    overflow: hidden
}

.page-container-bg-solid .profile {
    background: #fff;
    padding: 20px
}

.profile p {
    color: #636363;
    font-size: 13px
}

.profile p a {
    color: #169ef4
}

.profile label {
    margin-top: 10px
}

.profile label:first-child {
    margin-top: 0
}

.profile-classic .profile-edit {
    top: 0;
    right: 0;
    margin: 0;
    color: #fff;
    opacity: .6;
    padding: 0 9px;
    font-size: 11px;
    background: #000;
    position: absolute;
    filter: alpha(opacity=60)
}

.profile-classic .profile-image img {
    margin-bottom: 15px
}

.profile-classic li {
    padding: 8px 0;
    font-size: 13px;
    border-top: solid 1px #f5f5f5
}

.profile-classic li:first-child {
    border-top: none
}

.profile-classic li span {
    color: #666;
    font-size: 13px;
    margin-right: 7px
}

.profile .tabbable-custom-profile .nav-tabs>li>a {
    padding: 6px 12px
}

.profile ul.profile-nav {
    margin-bottom: 30px
}

.profile ul.profile-nav img.pic-bordered {
    border: 1px solid #e1e7ee
}

.profile ul.profile-nav li {
    position: relative
}

.profile ul.profile-nav li a {
    color: #557386;
    display: block;
    font-size: 14px;
    padding: 8px 10px;
    margin-bottom: 1px;
    background: #f0f6fa;
    border-left: solid 2px #c4d5df
}

.profile ul.profile-nav li a:hover {
    color: #169ef4;
    background: #ecf5fb;
    text-decoration: none;
    border-left: solid 2px #169ef4
}

.profile ul.profile-nav li a.profile-edit {
    top: 0;
    right: 0;
    margin: 0;
    color: #fff;
    opacity: .6;
    border: none;
    padding: 3px 9px;
    font-size: 12px;
    background: #000;
    position: absolute;
    filter: alpha(opacity=60)
}

.profile ul.profile-nav li a.profile-edit:hover {
    text-decoration: underline
}

.profile ul.profile-nav a span {
    top: 0;
    right: 0;
    color: #fff;
    font-size: 16px;
    padding: 7px 13px;
    position: absolute;
    background: #169ef4
}

.profile ul.profile-nav a:hover span {
    background: #0b94ea
}

.profile-info h1 {
    color: #383839;
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 10px
}

.profile-info ul {
    margin-bottom: 15px
}

.profile-info li {
    color: #6b6b6b;
    font-size: 13px;
    margin-right: 15px;
    margin-bottom: 5px;
    padding: 0 !important
}

.profile-info li i {
    color: #b5c1c9;
    font-size: 15px
}

.profile-info li:hover i {
    color: #169ef4
}

.sale-summary ul {
    margin-top: -10px
}

.sale-summary li {
    padding: 10px 0;
    overflow: hidden;
    border-top: solid 1px #eee
}

.sale-summary li:first-child {
    border-top: none
}

.sale-summary li .sale-info {
    margin-top: 4px;
    float: left;
    color: #646464;
    font-size: 14px;
    text-transform: uppercase
}

.sale-summary li .sale-num {
    float: right;
    color: #169ef4;
    font-size: 20px;
    font-weight: 300
}

.sale-summary li span i {
    top: 1px;
    width: 13px;
    height: 14px;
    margin-left: 3px;
    position: relative;
    display: inline-block
}

.sale-summary .caption h4 {
    color: #383839;
    font-size: 18px
}

.sale-summary .caption {
    border-color: #c9c9c9
}

.profile .table-advance thead tr th {
    background: #f0f6fa
}

.profile .table-bordered, .profile .table-bordered td, .profile .table-bordered th {
    border-color: #e5eff6
}

.profile .table-striped tbody>tr:nth-child(2n+1)>td, .profile .table-striped tbody>tr:nth-child(2n+1)>th {
    background: #fcfcfc
}

.profile .table-hover tbody tr:hover td, .profile .table-hover tbody tr:hover th {
    background: #f5fafd
}

.add-portfolio {
    margin-bottom: 30px;
    background: #f0f6fa;
    padding: 12px 14px
}

.add-portfolio span {
    float: none;
    display: inline-block;
    font-weight: 300;
    font-size: 22px;
    margin-top: 0
}

.add-portfolio .btn {
    margin-left: 20px
}

.portfolio-block {
    background: #f7f7f7;
    margin-bottom: 15px
}

.portfolio-text img {
    float: left;
    margin-right: 15px
}

.portfolio-btn a {
    display: block;
    padding: 25px 0;
    background: #ddd !important
}

.portfolio-btn a:hover {
    background: #1d943b !important
}

.portfolio-btn span {
    color: #fff;
    font-size: 22px;
    font-weight: 200
}

.portfolio-info {
    float: left;
    color: #616161;
    font-size: 12px;
    padding: 10px 25px;
    margin-bottom: 5px;
    text-transform: uppercase
}

.portfolio-info span {
    color: #16a1f2;
    display: block;
    font-size: 28px;
    line-height: 28px;
    margin-top: 0;
    font-weight: 200;
    text-transform: uppercase
}

.profile-settings {
    background: #fafafa;
    padding: 15px 8px 0;
    margin-bottom: 5px
}

.profile-settings p {
    padding-left: 5px;
    margin-bottom: 3px
}

.profile-settings .controls>.checkbox, .profile-settings .controls>.radio {
    font-size: 12px;
    margin-top: 2px !important
}

.btn-icon-only {
    height: 22px;
    width: 22px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2px;
    font-size: 12px;
}

.avatar-box {
    height: 30px;
    width: 30px;
    background: #ddd;
    display: block;
    float: left;
    margin-right: 14px;
    margin-top: -3px;
    margin-bottom: -5px;
}

.text-single-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px;
    margin: 0px;
    text-align: start;
}

.img-inline {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
}

.img-inline>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-right: 0px;
}

.btn-hover {
    border-width: 1px;
    border-color: none;
}

.btn-hover:hover, .btn-hover:focus, .btn-hover.active {
    color: #333 !important;
    background-color: #ededed !important;
    border-color: #b3b3b3 !important;
    border-width: 1px !important;
}

.table-hover>tbody>tr:hover, .table-hover>tbody>tr:hover>td {
    background: #f3f4f6;
}

.text-bold {
    font-weight: 700;
}
html {
    overflow-y: scroll!important;
    overflow-x: hidden!important;
}

.table-sort-asc {
    background: url(/assets/global/plugins/datatables/images/sort_asc.png) no-repeat right;
}

.table-sort-both {
    background: url(/assets/global/plugins/datatables/images/sort_both.png) no-repeat right;
}

.table-sort-desc {
    background: url(/assets/global/plugins/datatables/images/sort_desc.png) no-repeat right;
}

/** right click*/
body>ul>li>a {
    font-size: 14px;
    padding: 2px 5px 5px 5px!important;
}

body>ul>li.divider {
    padding: 0px 0px 0px 0px!important;
    margin: 1px;
}
 
.table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected{
    background-color: #1c346354!important;
}
.table-hover>tbody>tr:hover, .table-hover>tbody>tr:hover>td{
    background-color: transparent!important;
}



.selected .mt-checkbox>span::after {
    display: block!important;
}

.mt-radio.mt-radio-outline>span, .mt-radio.mt-checkbox-outline>span, .mt-checkbox.mt-radio-outline>span, .mt-checkbox.mt-checkbox-outline>span{
    background:white!important;
}
.highlight-fts{
/*     color:red; */
    font-weight:bold;
}


.form-group-sm> label{
 font-size: 12px!important;
}


.ui-select-container .glyphicon-remove{
    margin-top:1px;
}

.ui-select-match-text{
      margin-top:2px;
}