@media (max-width: 767px) {

    /**Top menu*/
    /* .top-menu {
        display: none !important;
    }

    .top-menu.in {
        display: block !important;
    } */

    /**Full white paper*/
    .page-wrapper {
        min-height: 100vh !important;
    }

    .page-content-wrapper>.page-content {
        min-height: calc(100vh - 100px) !important;
    }

    /**Page Title */
    .page-content-wrapper .page-content {
        padding: 0px 10px 10px !important;
    }

    .portlet.light>.portlet-title>.caption {
        width: 100% !important;
    }

    .portlet.light>.portlet-title>.caption>.caption-subject {
        font-size: 14px !important;
        color: #333;
    }

    /**Input*/
    .portlet.light>.portlet-title>.inputs {
        width: 100%;
    }

    .portlet.light>.portlet-title>.inputs>.input-large {
        width: 100% !important;
    }

    .page-content>div>.portlet,
    .page-content>div>form>.portlet {
        padding: 0 !important;
    }

    /**action*/
    .portlet.light>.portlet-title>.actions {
        padding: 0 !important;
    }

    /*table*/
    *[header-text]:before {
        content: attr(header-text);
        /* no quotes around attribute name! */
        display: inline;
    }

    .selected td:not(.handler)::after {
        pointer-events: none;
        content: "";
        position: absolute;
        height: 100%;
        background-color: #b4bccb !important;
        width: 100%;
        margin-top: 0;
        left: 0;
        z-index: -1;
    }

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        display: none;
    }

    tbody tr {
        position: relative;
        border-bottom: 1px solid #ccc;
        clear: both;
    }

    td {
        /* Behave  like a "row" */
        border: none !important;
        position: relative;
        padding: 0px 0px 1px 10px !important;
        margin:  0;
    }

    td>.inline {
        display: inline;
    }

    td.handler {
        z-index: 9;
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 5px 10px 0px 0px !important;
    }

    td.left {
        padding-top: 10px !important;
        float: left;
    }

    td.auto {
        width: auto !important;
    }

    td.full {
        width: 100% !important;
        max-width: unset !important;
    }

    td.right {
        padding-top: 10px !important;
        float: right;
    }

    td.name {
        position: relative;
        margin-top: -10px;
    }

    td.image>div {
        display: none !important;
    }

    td.check {
        padding: 5px 0px 10px 1px !important;
    }

    td.check>label>span {
        margin-left: -5px;
    }

    td:before {
        /* Now like a table header */
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    .dataTables_paginate.pagination-panel {
        width: 100%;
    }

    .dataTables_paginate>.pagination-panel select {
        display: none;
    }

    .mobile-tool {
        display: block!important;
    }

    .full-height-page {
        height: auto;
    }

    fieldset {
        padding: 0 !important;
        border: none !important;
    }

    .hidden-desktop-custom {
        display: initial!important;
    }

    .hidden-mobile-custom {
        display: none!important;
    }

    /** right click*/
    body>ul {
        margin-left: -85px !important;
    }

    /**/
    .dropdown.dropdown-user{
        margin-top: -49px!important;
        margin-right: 33px!important;
        background-color: transparent!important;
    }
    .dropdown.dropdown-user>a{ 
        background-color: transparent!important;
    }
    #select-site{
        margin-top: -49px!important;
        margin-left: 60px!important;
        background-color: transparent!important;
        
    }
}