﻿<form name="form">
    <div class="modal-content cmodal">
        <div class="modal-header">
            <a href="javascript:;" ng-click="Button.Close.Click()" class="modal-close" aria-hidden="true">
                <i class="fa fa-close"></i>
            </a>
            <span class="modal-title">
                <span>{{Form.Title}}</span>
            </span>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Họ và tên
                            <span class="required">(*)</span>
                        </label>
                        <div class="">
                            <input type="text" ng-focus="true" name="hoTen" ng-model="Form.Item.hoTen" required
                                ng-maxlength="255" placeholder="Nhập vào họ và tên" class="form-control" />
                            <div ng-show="form.hoTen.$dirty ||form.$submitted">
                                <small class="has-error" ng-show="form.hoTen.$error.required">
                                    Bạn cần nhập họ và tên
                                </small>
                                <small class="has-error" ng-show="form.hoTen.$error.maxlength">
                                    Bạn đã nhập quá 255 ký tự
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Giới tính
                            <span class="required">(*)</span>
                        </label>
                        <div class="">
                            <label>
                                <input type="radio" ng-model="Form.Item.gioiTinh" ng-value="1">
                                Nam
                            </label>
                            <label>
                                <input type="radio" ng-model="Form.Item.gioiTinh" ng-value="0">
                                Nữ
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Năm sinh
                            <span class="required">(*)</span>
                        </label>
                        <div class="">
                            <ui-select name="namSinh" ng-model="Form.Item.namSinh" required theme="bootstrap">
                                <ui-select-match allow-clear="true" placeholder="Chọn Năm sinh">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat=" item.Name as item in Selected.NamSinhList | filter: $select.search">
                                    <span ng-bind-html="item.Name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                            <div ng-show="form.namSinh.$dirty ||form.$submitted">
                                <small class="has-error" ng-show="form.namSinh.$error.required">
                                    Bạn cần chọn năm sinh
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Học hàm
                            <span class="required">(*)</span>
                        </label>
                        <div class="">
                            <ui-select name="hocHam" ng-model="Form.Item.hocHam" required theme="bootstrap">
                                <ui-select-match allow-clear="true" placeholder="Chọn Học hàm">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat=" item.Name as item in Selected.HocHamList | filter: $select.search">
                                    <span ng-bind-html="item.Name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                            <div ng-show="form.hocHam.$dirty ||form.$submitted">
                                <small class="has-error" ng-show="form.hocHam.$error.required">
                                    Bạn cần chọn học hàm
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Học vị
                            <span class="required">(*)</span>
                        </label>
                        <div class="">
                            <ui-select name="hocVi" ng-model="Form.Item.hocVi" required theme="bootstrap">
                                <ui-select-match allow-clear="true" placeholder="Chọn Học vị">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat=" item.Name as item in Selected.HocViList | filter: $select.search">
                                    <span ng-bind-html="item.Name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                            <div ng-show="form.hocVi.$dirty ||form.$submitted">
                                <small class="has-error" ng-show="form.hocVi.$error.required">
                                    Bạn cần chọn học vị
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Lĩnh vực nghiên cứu trong 5 năm gần đây
                        </label>
                        <div class="row">
                            <label ng-repeat="item in Selected.LinhVucList" class="col-md-6">
                                <input type="checkbox" ng-model="item.selected">
                                {{item.Name}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Chức danh N.Cứu
                            <span class="required">(*)</span>
                        </label>
                        <div class="">
                            <ui-select name="chucDanhNghienCuu" ng-model="Form.Item.chucDanhNghienCuu" required theme="bootstrap">
                                <ui-select-match allow-clear="true" placeholder="Chọn Chức danh nghiên cứu">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat=" item.Name as item in Selected.ChucDanhNghienCuuList | filter: $select.search">
                                    <span ng-bind-html="item.Name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                            <div ng-show="form.chucDanhNghienCuu.$dirty ||form.$submitted">
                                <small class="has-error" ng-show="form.chucDanhNghienCuu.$error.required">
                                    Bạn cần chọn chức danh nghiên cứu
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">C.Vụ Hiện nay
                        </label>
                        <div class="">
                            <input type="text" name="chucVuHienNay" ng-model="Form.Item.chucVuHienNay" placeholder="Nhập vào chức vụ hiện nay"
                                class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Điện thoại
                        </label>
                        <div class="">
                            <input type="text" name="dienThoaiNhaRieng" ng-model="Form.Item.dienThoaiNhaRieng"
                                placeholder="Nhập vào chức vụ hiện nay" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Mobile
                        </label>
                        <div class="">
                            <input type="text" name="mobile" ng-model="Form.Item.mobile" placeholder="Nhập vào chức vụ hiện nay"
                                class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Email
                        </label>
                        <div class="">
                            <input type="text" name="email" ng-model="Form.Item.email" placeholder="Nhập vào chức vụ hiện nay"
                                class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <h5 class="text-bold text-uppercase  col-md-12">
                    <u>Cơ quan công tác</u> </h5>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Tên cơ quan
                        </label>
                        <div class="">
                            <input type="text" name="tenCoQuan" ng-model="Form.Item.tenCoQuan" placeholder="Nhập vào tên cơ quan"
                                class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Tên người đứng đầu
                        </label>
                        <div class="">
                            <input type="text" name="tenNguoiDungDauCoQuan" ng-model="Form.Item.tenNguoiDungDauCoQuan"
                                placeholder="Nhập vào tên người đứng đầu" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Địa chỉ cơ quan
                        </label>
                        <div class="">
                            <input type="text" name="diaChiCoQuan" ng-model="Form.Item.diaChiCoQuan" placeholder="Nhập vào địa chỉ cơ quan"
                                class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Điện thoại
                        </label>
                        <div class="">
                            <input type="text" name="dienThoaiCoQuan" ng-model="Form.Item.dienThoaiCoQuan" placeholder="Nhập vào điện thoại cơ quan"
                                class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Fax
                        </label>
                        <div class="">
                            <input type="text" name="faxCoQuan" ng-model="Form.Item.faxCoQuan" placeholder="Nhập vào fax"
                                class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Website
                        </label>
                        <div class="">
                            <input type="text" name="websiteCoQuan" ng-model="Form.Item.websiteCoQuan" placeholder="Nhập vào website"
                                class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <h5 class="text-bold text-uppercase  col-md-12">
                    <u>Tập tin đính kèm</u> &nbsp;&nbsp;<button ng-hide="file" ngf-max-size="{{Config.maxSize}}"
                        ngf-multiple="{{Config.multiple}}" ngf-select ngf-change="UploadAttacment($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"
                        ng-model="file" name="file" class="btn btn-sm btn-success">
                        <i ng-hide="Progress>0" class="fa fa-upload"></i>
                        <span ng-show="Progress>0">
                            <span>{{Progress}}%</span>
                        </span>
                        <span ng-hide="Progress>0">
                            <span>Tải lên</span>
                        </span>
                    </button> </h5>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table  ">
                        <tbody>
                            <tr ng-if="Form.Item.fileDinhKemList.length>0" ng-repeat="item in Form.Item.fileDinhKemList">
                                <td class="index" style="width:10px">
                                    {{$index}}

                                </td>
                                <td style="width: 32px;">
                                    <img width="32" height="32" ng-src="assets/apps/img/svg-fileicon/{{item.extension.substr(1)|lowercase }}.svg"
                                        onerror="this.src = 'assets/apps/img/svg-fileicon/file.svg'" />
                                </td>
                                <td header-text="Tên tệp">
                                    <input type="text" class="input-sm form-control" ng-model="item.name" />
                                    <!-- <code class="pull-left">{{item.path}}</code> -->
                                </td>
                                <td>
                                    <span ng-if="item.size<1024*1024">
                                        {{item.size/1024 | number:1}} KB
                                    </span>
                                    <span ng-if="item.size>1024*1024 &&item.size<1024*1024*1024">
                                        {{item.size/1024/1024 | number:1}} MB
                                    </span>
                                    <span ng-if="item.size>1024*1024*1024 &&item.size<1024*1024*1024*1024">
                                        {{item.size/1024/1024/1024 | number:1}} MB
                                    </span>
                                </td>
                                <td class="handler" style="width:80px">
                                    <button type="button" class="btn btn-circle btn-success btn-icon-only btn-grid-circle-button"
                                        ng-click="DownloadAttactment(item)" title="Xem đính kèm">
                                        <i class="fa fa-download"></i>
                                    </button>
                                    <button type="button" class="btn btn-circle btn-danger btn-icon-only btn-grid-circle-button"
                                        ng-click="DeleteAttactment(item)" title="Xóa tệp đính kèm">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr ng-if="Form.Item.fileDinhKemList.length ===0">
                                <td colspan="20" class="full">Không có dữ liệu !</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-primary" ng-click="Save()">
                <i class="fa fa-save"></i> Lưu</button>
            <button type="button" class="btn btn-sm btn-warning" ng-click="Button.Close.Click()">
                <i class="fa fa-ban"></i> Đóng</button>
        </div>
    </div>
</form>