﻿ 

  <div class="container form-error">
  <form class="four-oh-four-form">
    <input type="text" class="404-input">
  </form>

  <div class="terminal">
      <p class="prompt">The page you requested cannot be found right. Check the URL you entered for any mistakes and try again.</p>
      <p class="prompt output new-output"></p>
  </div>
</div> 
    <script  src="js/index.js"></script> 