﻿<div class="portlet light">
    <div class="portlet-title">
        <div class="caption caption-md">
            <span class="caption-subject bold theme-font-color uppercase">{{$state.current.data.pageTitle}}</span>
        </div>
        <div class="inputs">
            <div class="portlet-input input-large input-inline">
                <div class="input-icon right">
                    <i class="icon-magnifier" ng-click="Grid.Search()"></i>
                    <input type="text" ng-model="Filter.Text" ng-keyup="$event.keyCode == 13 && Grid.Search()" class="form-control form-control-solid input-sm"
                        placeholder="Tìm kiếm...." ng-pattern="word" required ng-trim="true">
                </div>
            </div>
        </div>
        <div class="actions pull-right">
            <button type="button" class="btn btn-danger" ng-if="Button.Delete.Visible && Button.Delete.GrantAccess"
                ng-disabled="!Button.Delete.Enable" ng-click="Button.Delete.Click()">
                <i class="fa fa-trash"></i>&nbsp; {{Button.Delete.Title}}
            </button>
            <button type="button" class="btn default" ng-click="Grid.Refesh()">
                <i class="fa fa-refresh"></i>
                Tải lại
            </button>
            <button type="button" ng-if="Button.Add.Visible && Button.Add.GrantAccess" ng-disabled="!Button.Add.Enable"
                class="btn btn-primary" ng-click="Button.Add.Click()">
                <i class="fa fa-plus"></i>&nbsp; {{Button.Add.Title}}
            </button>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <!-- SEARCH -->
            <div class="col-md-12 col-lg-12">
                <div class="col-md-2 col-lg-2 padding-left-none">
                    <div class='form-group-sm select'>
                        <label>
                            Năm thành lập
                        </label>
                        <ui-select ng-model="Selected.NamThanhLap" ng-change="Grid.Search()" theme="bootstrap">
                            <ui-select-match allow-clear="true" placeholder="Chọn năm thành lập">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="item.Name as item in Selected.NamThanhLapList | filter: $select.search">
                                <span ng-bind-html="item.Name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2">
                    <div class='form-group-sm select'>
                        <label>
                            Trạng thái
                        </label>
                        <ui-select ng-model="Selected.TrangThai" ng-change="Grid.Search()" theme="bootstrap">
                            <ui-select-match allow-clear="true" placeholder="Chọn trạng thái">{{$select.selected.Value}}</ui-select-match>
                            <ui-select-choices repeat="item.Name as item in Selected.TrangThaiList | filter: $select.search">
                                <span ng-bind-html="item.Value | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <!-- TABLE GRID -->
            <div class="col-md-12 col-lg-12">
                <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer">
                    <thead>
                        <tr class="grid-header">
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width:30px;">
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="group-checkable" ng-click="Grid.CheckAllItem()"
                                        ng-model="Grid.CheckAll" />
                                    <span></span>
                                </label>
                            </th>
                            <th ng-repeat="item in Grid.DataHeader" ng-class="Grid.GetItemHeaderClass(item)" ng-click="Grid.ClickToHeader(item)"
                                style="width: {{item.Width}}">
                                {{item.Value}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="Grid.Data.length>0" ng-repeat="item in Grid.Data" ng-class="Grid.GetItemClass(item)">
                            <td class="check">
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="checkboxes" ng-click="Grid.CheckItem(item)" ng-model="item.selected"
                                        ng-class="{selected: $index==selectedRow}">
                                    <span></span>
                                </label>
                            </td>
                            <td header-text="{{Grid.GetHeaderText('ma',Grid.DataHeader)}}">
                                {{item.ma}}
                            </td>
                            <td header-text="{{Grid.GetHeaderText('ten',Grid.DataHeader)}}">
                               <span ng-bind-html="item.ten | highlightfts: Filter.Text"></span>
                            </td>
                            <td header-text="{{Grid.GetHeaderText('namThanhLap',Grid.DataHeader)}}">
                                {{item.namThanhLap}}
                            </td>
                            <td header-text="{{Grid.GetHeaderText('trangThai',Grid.DataHeader)}}">
                                <label class="label label-sm label-success" ng-if="item.trangThai=='1'">Hoạt động</label>
                                <label class="label label-sm label-danger " ng-if="item.trangThai=='0'">Không hoạt động</label>
                            </td>
                            
                            <td class="handler">
                                <button type="button" class="btn btn-circle btn-primary btn-icon-only btn-grid-circle-button"
                                    ng-if="Button.Update.GrantAccess" ng-click="Button.Update.Click(item)" title="Cập nhật">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" class="btn btn-circle btn-danger btn-icon-only btn-grid-circle-button"
                                    ng-if="Button.Delete.GrantAccess  && item.UserId !== UserInfo.Id" ng-click="Button.Delete.Click(item)"
                                    title="Xóa người dùng">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        <tr ng-if="Grid.Data.length ===0">
                            <td colspan="20" class="full">Không có dữ liệu !</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix"></div>
            <!-- PAGINATION -->
            <div class="col-md-12" ng-show="Grid.TotalCount>0" data-ng-include="'/app-data/views/template/pagination/pagination.html'"></div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
</div>