﻿<form name="form">
    <div class="modal-content cmodal">
        <div class="modal-header">
            <a href="javascript:;" ng-click="Button.Close.Click()" class="modal-close" aria-hidden="true">
                <i class="fa fa-close"></i>
            </a>
            <span class="modal-title">
                <span>{{Form.Title}}</span>
            </span>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Mã hội đồng
                            <span class="required">(*)</span>
                        </label>
                        <div class="">
                            <input type="text" ng-focus="true" name="ma" ng-model="Form.Item.ma" required ng-maxlength="255"
                                placeholder="Nhập vào mã hội đồng" class="form-control" />
                            <div ng-show="form.ma.$dirty ||form.$submitted">
                                <small class="has-error" ng-show="form.ma.$error.required">
                                    Bạn cần nhập mã hội đồng
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Tên hội đồng
                            <span class="required">(*)</span>
                        </label>
                        <div class="">
                            <input type="text" ng-focus="true" name="ten" ng-model="Form.Item.ten" required
                                ng-maxlength="255" placeholder="Nhập vào tên hội đồng" class="form-control" />
                            <div ng-show="form.ten.$dirty ||form.$submitted">
                                <small class="has-error" ng-show="form.ten.$error.required">
                                    Bạn cần nhập tên hội đồng
                                </small>
                                <small class="has-error" ng-show="form.ten.$error.maxlength">
                                    Bạn đã nhập quá 255 ký tự
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Năm thành lập
                            <span class="required">(*)</span>
                        </label>
                        <div class="">
                            <ui-select name="namThanhLap" ng-model="Form.Item.namThanhLap" required theme="bootstrap">
                                <ui-select-match allow-clear="true" placeholder="Chọn năm thành lập">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat=" item.Name as item in Selected.NamThanhLapList | filter: $select.search">
                                    <span ng-bind-html="item.Name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                            <div ng-show="form.namThanhLap.$dirty ||form.$submitted">
                                <small class="has-error" ng-show="form.namThanhLap.$error.required">
                                    Bạn cần chọn năm thành lập
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Trạng thái
                            <span class="required">(*)</span>
                        </label>
                        <div class="">
                            <input type="checkbox" ng-model="Form.Item.trangThai" ng-true-value="1" ng-false-value="0">
                            <label ng-if="Form.Item.trangThai==1" class="label label-sm label-success">Hoạt động</label>
                            <label ng-if="Form.Item.trangThai==0" class="label label-sm label-danger">Không hoạt động</label>

                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <h5 class="text-bold text-uppercase  col-md-12">
                    <u>Danh sách thành viên</u></h5>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 padding-right-none">
                    <div class='form-group-sm select'>
                        <ui-select ng-model="Selected.ThanhVien" ng-change="Grid.Search()" theme="bootstrap">
                            <ui-select-match allow-clear="true" placeholder="Chọn thành viên">{{$select.selected.hoTen}}</ui-select-match>
                            <ui-select-choices repeat=" item in Selected.ThanhVienList | filter: $select.search">
                                <span ng-bind-html="item.hoTen | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2 padding-left-none">
                    <button type="button" ng-click="AddThanhVien()" ng-disabled="!Selected.ThanhVien" class="btn btn-sm btn-success">
                        <i class="fa fa-plus"></i>
                        <span>Thêm</span>
                    </button>
                </div>
                <div class="col-md-12">
                    <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer">
                        <thead class="grid-header">
                            <tr>
                                <th>STT</th>
                                <th>Họ và tên</th>
                                <th>Năm sinh</th>
                                <th>Chức vụ</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="Form.Item.thanhVienHoiDongKhoaHocs.length>0" ng-repeat="item in Form.Item.thanhVienHoiDongKhoaHocs">
                                <td class="index" style="width:10px">
                                    {{$index}}
                                </td>
                                <td header-text="Họ và tên">
                                    {{item.nhaKhoaHoc.hoTen}}
                                </td>
                                <td header-text="Năm sinh">
                                    {{item.nhaKhoaHoc.namSinh}}
                                </td>
                                <td header-text="Chức vụ">
                                    <input type="text" class="input-sm form-control" ng-model="item.chucVu" />
                                </td>
                                <td class="handler" style="width:80px">
                                    <button type="button" class="btn btn-circle btn-danger btn-icon-only btn-grid-circle-button"
                                        ng-click="DeleteThanhVien(item)" title="Xóa thành viên">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr ng-if="Form.Item.thanhVienHoiDongKhoaHocs.length ===0">
                                <td colspan="20" class="full">Không có dữ liệu !</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <h5 class="text-bold text-uppercase  col-md-12">
                    <u>Tập tin quyết định thành lập</u> &nbsp;&nbsp;<button type="button" ng-hide="file" ngf-max-size="{{Config.maxSize}}"
                        ngf-multiple="{{Config.multiple}}" ngf-select ngf-change="UploadAttacment($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"
                        ng-model="file" name="file" class="btn btn-sm btn-success">
                        <i ng-hide="Progress>0" class="fa fa-upload"></i>
                        <span ng-show="Progress>0">
                            <span>{{Progress}}%</span>
                        </span>
                        <span ng-hide="Progress>0">
                            <span>Tải lên</span>
                        </span>
                    </button> </h5>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table  ">
                        <tbody>
                            <tr ng-if="Form.Item.fileDinhKemList.length>0" ng-repeat="item in Form.Item.fileDinhKemList">
                                <td class="index" style="width:10px">
                                    {{$index}}

                                </td>
                                <td style="width: 32px;">
                                    <img width="32" height="32" ng-src="assets/apps/img/svg-fileicon/{{item.extension.substr(1)|lowercase }}.svg"
                                        onerror="this.src = 'assets/apps/img/svg-fileicon/file.svg'" />
                                </td>
                                <td header-text="Tên tệp">
                                    <input type="text" class="input-sm form-control" ng-model="item.name" />
                                </td>
                                <td>
                                    <span ng-if="item.size<1024*1024">
                                        {{item.size/1024 | number:1}} KB
                                    </span>
                                    <span ng-if="item.size>1024*1024 &&item.size<1024*1024*1024">
                                        {{item.size/1024/1024 | number:1}} MB
                                    </span>
                                    <span ng-if="item.size>1024*1024*1024 &&item.size<1024*1024*1024*1024">
                                        {{item.size/1024/1024/1024 | number:1}} MB
                                    </span>
                                </td>
                                <td class="handler" style="width:80px">
                                    <button type="button" class="btn btn-circle btn-success btn-icon-only btn-grid-circle-button"
                                        ng-click="DownloadAttactment(item)" title="Xem đính kèm">
                                        <i class="fa fa-download"></i>
                                    </button>
                                    <button type="button" class="btn btn-circle btn-danger btn-icon-only btn-grid-circle-button"
                                        ng-click="DeleteAttactment(item)" title="Xóa tệp đính kèm">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr ng-if="Form.Item.fileDinhKemList.length ===0">
                                <td colspan="20" class="full">Không có dữ liệu !</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-primary" ng-click="Save()">
                <i class="fa fa-save"></i> Lưu</button>
            <button type="button" class="btn btn-sm btn-warning" ng-click="Button.Close.Click()">
                <i class="fa fa-ban"></i> Đóng</button>
        </div>
    </div>
</form>