﻿ 
    <section id="first">
      <nav>
        <a><svg height=22px width=100px>
            <circle cx=10 cy=11 r=10 fill="red" />
            <circle cx=40 cy=11 r=10 fill="yellow" />
            <circle cx=70 cy=11 r=10 fill="#33cc33" />
          </svg></a>
        <a>Terminal</a>
      </nav>
      <p><span id="text">root@localhost: -$ </span><span class="cur" id="cur1">_</span>
        <p>
          <p><span id="text2">root@localhost: -$ </span><span class="cur" id="cur2">_</span></p>
    </section>