body{
  margin:0;
  overflow:hidden;
}
section{
  height:100vh;
}
#first{
  background:black;
}
nav{
  background-color:#3e3c3c;
  height:35px;
  font-size:25px;
  color:white;
  line-height:35px;
  padding-left:20px;
}
a{
  float:left;
}
p{
  margin:0;
  margin-top:5px;
}
span{
  color:#33cc33;
  font-size:30px;
  margin-left:10px;
}
#text2{
  display:none;
}
svg{
  margin-top:6.5px;
}
#cur2{
  display:none;
  
}
.cur{
  font-weight:bold;
}
circle:hover{
  opacity:0.7;
}