﻿<div id="sidebar-scrollable" class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        <li class="sidebar-search-wrapper">
        </li>
        <li class="nav-item">
            <a ui-sref="404">
                <i class="fa fa-home"></i>
                <span class="title"> Home </span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link nav-toggle">
                <i class="fa fa-cog"></i>
                <span class="title"> Quản trị hệ thống
                </span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item">
                    <a ui-sref="users">
                        <span class="title"> 1.Quản lý người dùng </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a ui-sref="roles">
                        <span class="title"> 2.Quản lý nhóm người dùng </span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link nav-toggle">
                <i class="fa fa-list-alt"></i>
                <span class="title"> Danh mục hệ thống
                </span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item">
                    <a ui-sref="nha-khoa-hoc">
                        <span class="title"> 1.Quản lý nhà khoa học </span>
                    </a>
                </li>
            <li class="nav-item">
                    <a ui-sref="hoi-dong-khoa-hoc">
                        <span class="title"> 2.Quản lý hội đồng khoa học </span>
                    </a>
                </li>
            </ul>
        </li>

    </ul>
    <!-- END SIDEBAR MENU -->
</div>